#about__container {
    height: $sectionHeight;
    h1 {
        padding: 50px 0 50px 600px;
        color: $darkBlueColor;
    }
    #about__paragraph__container {
        display: flex;
        padding-left: 10vh;
        flex-direction: row-reverse;
        img {
            width: 800px;
            height: 400px;
            padding-left: 100px;
            border-radius: 10px;
        }
        #about__paragraph {
            text-indent: 50px;
            width: 500px;
            text-align: justify;
        }
        
    }
}